:root {
  --red: #CE1234;
  --blue: #283F9a;
  --white: #fffffb;
  --black: rgba(0, 0, 0, 0.8);
  --dark: #444054;
  --light-blue: #3E6E7A;
}

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');
/* 
@font-face {
  font-family: 'Fanwood Text', serif;
  src: url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');
  font-family: 'Grenze Gotisch', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');
} */

* {
  padding: 0;
  margin: 0;
}



body {
  background-image: url("https://www.nps.gov/common/uploads/cropped_image/primary/90E5EB32-BB00-EA88-B133ACDDF7398F4C.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(6, 0.5fr);
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 5 / 2 / 6; }
  .div3 { grid-area: 2 / 2 / 3 / 5; }
  .div4 { grid-area: 3 / 2 / 4 / 5; }
  .div5 { grid-area: 4 / 2 / 6 / 3; }
  .div6 { grid-area: 4 / 4 / 6 / 5; }
  .div7 { grid-area: 6 / 3 / 7 / 4; }
  .div8 { grid-area: 3 / 2 / 5 / 5; }

h1 {
  background-color: var(--red);
  border-radius: 10px;
  position: relative;
  margin: auto;
  text-align: center;
  color: var(--dark);
  box-sizing: content-box;
  width: 50%;
  font-family: 'Roboto Slab', serif;
}


#question{
  padding: 15px;
  margin: 0 auto;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.4);
  font-family: 'Fanwood Text', serif;
  font-size: 125%;
}

#a{
  background-color: var(--blue);
  color: var(--white);
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.4);
  font-family: 'Fanwood Text', serif;
  font-size: 125%;
}

#a:hover {
  background: rgba(28, 44, 107, 1);
  transition: all 0.3s;
  outline: 5px solid var(--black);
  outline-offset: -5px
}

#b{
  background-color: var(--blue);
  color: var(--white);
  padding: 60px 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 10px 10px 0 rgba(0,0,0,0.4);
  font-family: 'Fanwood Text', serif;
  font-size: 125%;
}

#b:hover {
  background: rgba(28, 44, 107, 1);
  transition: all 0.3s;
  outline: 5px solid var(--black);
  outline-offset: -5px
}

#timer{
  float: left;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--dark);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: 'Fanwood Text', serif;
}

#score {
  float: right;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--dark);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: var(--light-blue);
  color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: 'Fanwood Text', serif;
}

.redo{
  padding: 0;
  font: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 125%;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Fanwood Text', serif;
}
