:root {
  --red: #CE1234;
  --blue: #283F9a;
  --white: #fffffb;
  --black: rgba(0, 0, 0, 0.8);
  --dark: #444054;
  --light-blue: #3E6E7A;
}

* {
  padding: 0;
  margin: 0;
}



body {
  background-image: url("https://www.nps.gov/common/uploads/cropped_image/primary/90E5EB32-BB00-EA88-B133ACDDF7398F4C.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(6, 0.5fr);
  grid-column-gap: 1px;
  grid-row-gap: 10px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 5 / 2 / 6; }
  .div3 { grid-area: 2 / 2 / 3 / 5; }
  .div4 { grid-area: 3 / 2 / 4 / 5; }
  .div5 { grid-area: 4 / 2 / 6 / 3; }
  .div6 { grid-area: 4 / 4 / 6 / 5; }
  .div7 { grid-area: 6 / 3 / 7 / 4; }


h1 {
  background-color: var(--red);
  border-radius: 10px;
  position: relative;
  margin: auto;
  text-align: center;
  color: var(--dark);
  box-sizing: content-box;
  width: 50%;
}

#question{
  padding: 5px;
  margin: 0 auto;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

#a{
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3)
  
}

#b{
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3)
}

#timer{
  float: left;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--dark);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#score {
  float: right;
  padding: 10px;
  margin: 10px;
  border: 2px solidvar(--dark);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: var(--light-blue);
  color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.redo{
  padding: 0;
  font: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 125%;
  background-color: var(--red);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal-dialog > *{
padding: 1rem;
}

.modal-header, .modal-footer {
  background: var(--light-blue);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header .modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
 
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}