:root {
  --red: #CE1234;
  --blue: #283F9a;
  --white: #fffffb;
  --black: rgba(0, 0, 0, 0.8);
  --dark: #444054;
  --light-blue: #3E6E7A;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Jefferson_Memorial_At_Dusk_1.jpg/1280px-Jefferson_Memorial_At_Dusk_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 2 / 2 / 3 / 3; }
  .div2 { grid-area: 3 / 2 / 4 / 3; }
  .div3 { grid-area: 4 / 2 / 5 / 3; }

.title {
  color: var(--dark);
  background-color: var(--red);
  border-radius: 10px;
  text-align: center;
  padding: 0px;
}

.about {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

button {
  padding: 0;
  font: inherit;
  text-align: center;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 125%;
  text-decoration: none;
}

.begin{
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

a {
  text-decoration: none;
}

