@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 2 / 2 / 3 / 3; }
  .div2 { grid-area: 3 / 2 / 4 / 3; }
  .div3 { grid-area: 4 / 2 / 5 / 3; }

.title {
  color: #444054;
  text-align: center;
  padding: 5px;
}

.about {
  background-color: #283F9a;
  color: #FFFFFB;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

button {
  padding: 0;
  font: inherit;
  text-align: center;
  background-color: #CE1234;
  border-radius: 5px;
  color: #FFFFFB;
  cursor: pointer;
  font-size: 125%;
  text-decoration: none;
}

.begin{
  text-align: center;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

a {
  text-decoration: none;
}