@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 2 / 2 / 3 / 3; }
  .div2 { grid-area: 3 / 2 / 4 / 3; }
  .div3 { grid-area: 4 / 2 / 5 / 3; }

  
button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: #283F9A;
  border-radius: 5px;
  color: #FFFFFB
  cursor: pointer;
  font-size: 125%;
}

